# Folders
.vs/
out/

# Don't upload local SDL folder if it exists
SDL/
SDL2/

# Don't upload .wav files (only .ogg)
*.wav
# Don't upload .mp3 files - can't build necessary dlls easily
# Use .ogg instead for music
*.mp3